nav(class="navbar navbar-default" id="estl")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only")= 'Toggle navigation'
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(href="/")
        img(src="../images/iconingri2.png" alt="xyf" width="60" height="60" HSPACE="15" VSPACE="7")

    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
      ul(class="nav navbar-nav navbar-right")
        li(style="padding:18px")
          a(title="xyf" href="/" )='Inicio'
        if !isAuthenticated
          li(style="padding:18px")
            a(href="/auth/signup")='Registrarse'
            
          li(style="padding:18px")
            a(href="/auth/signin")= 'Iniciar Sesion'

        if isAuthenticated

          li(class="dropdown")
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false" class="glyphicon glyphicon-user")=user.nombre
              span(class="caret")
              ul(class="dropdown-menu")
              li
                a(href="/users/panel")='Perfil'
              li
                a(href="/auth/logout")= 'Cerrar Sesion'