nav(class="navbar navbar-default" id="estl")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only")= 'Toggle navigation'
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/")='XyF'
      img(alt="parking" src="../images/logo3.png" width="40" height="40")
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
      ul(class="nav navbar-nav navbar-right")
        if !isAuthenticated
          li
            a(href="/auth/signup" class="glyphicon glyphicon-user")=''
            
          li
            a(href="/auth/signin" class="glyphicon glyphicon-log-in")= ''
            button(onclick="document.getElementById('id01').style.display='block'", style='width:auto;',href="/auth/signin" class="glyphicon glyphicon-log-in")
    #id01.modal
      form.modal-content.animate(action='/action_page.php')
        .imgcontainer
          span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') ×
          img.avatar(src='../images/login.png', alt='Avatar' width="60" height="40")
        .container
          label
            b Username
          input(type='text', placeholder='Enter Username', name='uname', required='')
          label
            b Password
          input(type='password', placeholder='Enter Password', name='psw', required='')
          button(type='submit') Login
          input(type='checkbox', checked='checked')
          |  Remember me
        .container(style='background-color:#f1f1f1')
          button.cancelbtn(type='button', onclick="document.getElementById('id01').style.display='none'") Cancel
          span.psw
            | Forgot 
            a(href='#') password?
    script.
      // Get the modal
      var modal = document.getElementById('id01');
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
      }
            
        if isAuthenticated
          li(class="dropdown")
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false" class="glyphicon glyphicon-user")=user.nombre
              span(class="caret")
            ul(class="dropdown-menu")
              li
                a(href="/users/panel")='Perfil'
              li
                a(href="/auth/logout")= 'Cerrar Sesion'